.Poster{
    width: 100%;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.Poster-dark {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(0 0 0 ) 0%, rgb(20 20 20 / 35%) 55%, rgb(0 0 0) 100%);
}

.Container {
    max-width: 1440px;
    margin: 0 auto;
}

.Poster-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 96px;
    max-width: 768px;
    display: block;
}

.Poster-content{
    margin-top: 180px;
    padding: 0 30px;
}

.Poster-description {
    max-width: 462px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-top: 78px;
    color: #bfbfbf;
    padding-bottom: 30px;
}

.Poster-data {
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.Poster-data-title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.Poster-data-accent {
    background-color: #ffef11;
    color: #000;
    padding: 3px 10px;
    border-radius: 12px;
    font-weight: bold;
}