.Header-block {
    height: 104px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 999;
}

.Header-content {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    color: #fff;
    padding: 0 30px;
}

.App-logo {
    width: 152px;
    height: 48px;
}

.App-search {
    width: 24px;
    height: 24px;
    margin-right: 30px;
    cursor: pointer;
}
.App-avatar {
    max-width: 48px;
    border-radius: 50%;
}
.Block1 {
    display: flex;
    align-items: center;
}

.Block2 {
    display: flex;
    align-items: center;
}

.User{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 20px;
}